@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
    background-color: #ffffff;    
  }

  /*Buttons*/

  .button {
    font-style: normal;
    font-weight: bold;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;   
  }

  .navigation-link-button {
    background-color: #756257;
    color: #FFFFFF; 
    text-decoration: none;
  }

  .subscribe-form-button {
    background-color: #83B3D3;     
  }
  
  .catalog-filter-submit {
    background-color: #83B3D3;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: inherit;    
  }

  .catalog-filter-reset {
    background-color: transparent;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    color: inherit;
  }

  .product-details-button {    
    font-size: 16px;
    line-height: 21px;
    
    background-color: #756257;

    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .product-to-favorites-button {
    font-size: 16px;
    line-height: 21px;
    background-color: #83B3D3;
  }

  .product-in-favorites-button {
    font-size: 16px;
    line-height: 21px;

    background-color: #7DB54F;
  }
  
  .show-more-button {
    font-size: 20px;
    line-height: 26px;
    align-items: center;

    background-color: #83B3D3;
  }

  .pagination-item {
    background-color: #83B3D3;
  }

  .pagination-current {
    background-color: #F2F2F2;
  }

    /* Navigation */
  .navigation-link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    color: inherit;
    text-decoration: none;      
  }

  /* Welcome box */
  .index-background {
    width: 1200px;
    height: 434px;
    padding-top: 51px;

    background-color: #83B3D3;
    background-image: url("../images/index-background.jpg");   
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: rgb(192, 226, 215);
  }

  .index-background-welcome {
    width: 458px;
    height: 352px;
    margin: 0 auto;
    margin-bottom: 25px;
    
    
    background-image: url("../images/welcome.png");          
    background-size: 100% auto;    
    background-repeat: no-repeat;
    
  }

  .index-background-bottomline {
    width: 1200px;
    height: 57px;
    background-image: url("../images/index-header-bottomline.svg"); 
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  /*Header*/

  .main-index h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
        
    text-align: center;
    text-transform: uppercase;
  }  

  /*Advantages*/

  .advantages h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
        
    text-align: center;
    color: #333333;
  }

  .advantages-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;    
    
    text-align: center;
    text-transform: uppercase;      
  }

  .advantages-item:nth-child(1)  {
    background-color: hsl(204, 48%, 67%);
    color: #FFFFFF;
  }

  .advantages-item:nth-child(2) {
    background-color: #83B3D3;
    color: #FFFFFF;
  }

  .advantages-item:nth-child(3)  {
    background-color: rgba(131, 179, 211, 0.12);
    color: inherit;
  }

  .advantages-item:nth-child(4)  {
    background-color: rgba(131, 179, 211, 0.2);
    color: inherit;
  }

  .advantages-item:nth-child(5)  {
    background-color: rgba(131, 179, 211, 0.12);
    color: inherit;
  }

  .advantages-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
        
    text-align: center; 
    color: #333333;   
  }  
  
  .advantages-description:nth-child(1) {
    color: inherit;
  }  

  .advantages-description:nth-child(2) {
    color: inherit;
  }  

  /*Tips*/
  .tips-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    
    text-align: center;
    text-transform: uppercase;

    color: inherit;
  }

  .tips-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #333333;    
  }

  /*Hotel-search*/

  .hotel-search-header {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    
    text-align: center;
    text-transform: uppercase;
    color: inherit;
  }

  .hotel-search-description {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    text-align: center;
    
    color: #333333;
  }

  .hotel-search-link {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    text-decoration: none;
  }

  .hotel-search-button {
      background-color: #756257;      
  }

  /*Subscribe*/

  .subscribe {
      width: 1200px;
      height: 411px;
  }

  .subscribe-index {
      color: #FFFFFF;
      background-color: #83B3D3;
      background-image: url("../images/index-subscribe-background.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
  }

  .subscribe-catalog {
    color: #000000;
  }

  .subscribe-header {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    
    text-align: center;
    text-transform: uppercase;    
  }
 
  .subscribe-description {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    
    text-align: center;       
  }

  .subscribe-index h2, .subscribe-index p {
      color: inherit;
  }

  .subscribe-catalog h2 {
    color: inherit;
}

.subscribe-catalog p {
    color: #333333;
}

.subscribe-form-label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
    opacity: 0.6;
}

/*Footer*/

.footer-contacts-phone {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

/*Catalog header*/

.catalog-header {
    width: 1200px;
    height: 408px;

    color: #FFFFFF;
    background-color: #83B3D3;
    background-image: url("../images/catalog/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-header h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;

    color: inherit;
}

.breadcrumbs-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: inherit;
    text-decoration: none;
}

/*Catalog-filters*/

.catalog-filter {
    color: #FFFFFF;
    background-color: #83B3D3;
}

.catalog-filter-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;

    color: inherit;
}

.catalog-filter-label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: inherit;
}

.catalog-filter-price {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: right;

    color: inherit;
    text-transform: lowercase;

    opacity: 0.3;
}

/*Catalog results*/

.catalog-results h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;

    text-transform: uppercase;
    color: inherit;
}

.select-control option {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #333333;   
}

/*Product cards*/

.product-card-link {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;

    color: inherit;
    text-decoration: none;
}

.product-card-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #333333;
}

.product-card-rating {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
}

.product-card-rating span {
  display: inline-block;
}

.product-card-rating {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  background-color: #F2F2F2;
  
  color: #333333;
}

/*pagination*/

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #FFFFFF;
}

.pagination-current a {
  color: #000000;
}

.cards-quantity-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  color: #333333;
}


/*Subscribe*/

.subscribe h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  
  text-align: center;

  color: #333333;
}



 
  
  
  