@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;

  
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}


/*Buttons*/

.button {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navigation-link-search {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-link-favorites {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-link-button {
  display: block;
  margin-right: 0;
  width: 140px;
  height: 37px;
  padding-left: 10px;
  padding-right: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 38px;
  text-decoration: none;
  background-color: #756257;
  color: #FFFFFF;
}

.footer-social-button {
  padding: 20px;
  outline: 1px solid red;
}

.subscribe-form-button {
  width: 200px;
  height: 60px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 26px;
  background-color: #83B3D3;
  background: #83B3D3;
  border: 1px solid transparent;
  border-radius: 0px 10px 10px 0px;
}

.catalog-filter-submit {
  width: 160px;
  height: 48px;
  margin-bottom: 9px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  background-color: #83B3D3;
}

.catalog-filter-reset {
  width: 160px;
  height: 48px;
  margin-bottom: 21px;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: inherit;
  background-color: transparent;
}

.button-layout {
  width: 45px;
  height: 46px;
  margin-right: 8px;

  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-layout:last-child {
  margin-right: 0;
}

.product-details-button { 
  display: block;
  margin: 0 auto; 
  
  padding: 8px;  
  
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  word-wrap: break-word;
  text-align: center;
  
}

.product-to-favorites-button {
  width: 140px;  
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 8px;

  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  text-align: center;  
  background-color: #83B3D3;
  border: 1px solid transparent;
  border-radius: 4px;
}

.product-in-favorites-button {
  width: 137px;
  min-height: 35px;
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 34px;
  background-color: #7DB54F;
  border: 1px solid transparent;
  border-radius: 4px;
}

.show-more-button {
  display: block;
  width: 620px;
  height: 58px;
  margin: 30px auto;
  padding: 0 10px;
  

  font-size: 18px;
  line-height: 25px;  
  letter-spacing: -0.5px;
  
  background-color: #83B3D3;
  border: 1px solid transparent;
  border-radius: 4px;
}

.pagination-item {
  min-width: 55px;
  height: 55px;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #83B3D3;
}

.pagination-current {
  background-color: #F2F2F2;
}


/* Navigation */

.navigation {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.logo-link {
  margin-left: 5px;
  margin-right: 48px;
  line-height: 0;
}

.navigation-link {
  display: block;
  padding: 18px 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
}

.navigation-list {
  display: flex;
  margin-right: 100px;
  align-items: center;
  flex-wrap: wrap;
  line-height: 30px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 4px;
}

.navigation-item {
  margin-right: 35px;
  height: 65px;
}

.navigation-user li {
  min-width: 42px;
  height: 42px;
  outline: 1px solid red;
}

.navigation-user li:last-child {
  margin-right: 0;
  margin-left: 20px;
}


/* Welcome box */

.index-background {
  width: 1200px;
  height: 434px;
  padding-top: 51px;
  margin-bottom: 63px;

  background-color: #83B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: rgb(192, 226, 215);
}

.index-background-welcome {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-bottom: 25px;

  background-image: url("../images/welcome.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.index-background-bottomline {
  width: 1200px;
  height: 57px;

  background-image: url("../images/index-header-bottomline.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


/*Header*/

.main-container {
  flex-grow: 1;
  
  margin-top: -4px;
  background-color: #FFFFFF;
}

.main-index h1 {
  display: block;
  width: 720px;
  margin: 0 auto 31px;

  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}


/*Advantages*/

/* .advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.advantages-item {
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(2) {
  flex-direction: row-reverse;
}

.advantages-wrapper {
  display: flex;
  flex-direction: column;
  width: 247px;
  margin: 0 auto;
  padding-top: 97px;
  padding-bottom: 87px;
}

.advantages-item img {
  height: 100%;
}

.advantages h2 {
  order: -1;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-title {
  order: -1;
  display: block;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item:nth-child(1) {
  grid-column: 1/-1;
  width: 1200px;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 3/4;
  width: 1200px;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(3) {
  grid-column: 1/2;
  
  background-color: rgba(131, 179, 211, 0.12);
  color: inherit;
}

.advantages-item:nth-child(4) {
  grid-column: 2/3;
  background-color: rgba(131, 179, 211, 0.2);
  color: inherit;
}

.advantages-item:nth-child(5) {
  grid-column: 3/4;
  background-color: rgba(131, 179, 211, 0.12);
  color: inherit;
}

.advantages-item:nth-child(6) {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgba(131, 179, 211, 0.2);
  color: inherit;
}

.advantages-item:nth-child(7) {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgba(131, 179, 211, 0.12);
  color: inherit;
}

.advantages-item:nth-child(8) {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: rgba(131, 179, 211, 0.2);
  color: inherit;
}

.tips-wrapper {
  min-height: 185px;
  padding-top: 85px;
  padding-bottom: 90px;
}

.tips-icon {
  order: -1;
  width: 75px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 24px;

  outline: 1px solid red;
}

.tips-wrapper .advantages-title {
  width: 250px;
  margin-bottom: 20px;
}

.advantages-number {
  display: block;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.advantages-description {
  display: block;
  margin: 0 auto;
  width: 250px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-wrapper-big p {
  width: 220px;
  color: inherit;
}

.advantages-wrapper-big p {
  width: 220px;
  color: inherit;
}

.advantages-wrapper-small {
  padding-bottom: 108px;
}


/*Hotel-search*/

.hotel-search {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-top: 91px;
  padding-bottom: 70px;
  margin-bottom: 22px;
}

.hotel-search-header {
  display: block;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 29px;
  

  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.hotel-search-description {
  display: block;
  width: 720px;
  padding-right: 11px;
  margin: 0 auto;
  margin-bottom: 56px;

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hotel-search-link {
  display: inline-block;
  width: 100%;
  
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.hotel-search-button {
  display: block;
  width: 495px;
  margin: 0 auto;
  padding: 12px 40px;
  text-align: center;
  background-color: #756257;
}


/*Subscribe*/

.subscribe {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 93px;
}

.subscribe-index {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/index-subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-catalog {
  color: #000000;
  padding-top: 65px;
  padding-bottom: 140px;
}

.subscribe h2 {
  margin: 0;
  margin-bottom: 29px;

  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-catalog h2 {
  margin-bottom: 47px;
}

.subscribe p {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 46px;

  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-catalog p {
  color: #333333;
}

.subscribe-form {
  margin: 0 auto;
}

.subscribe-form input {
  width: 570px;
  height: 47px;
  padding: 5px 10px 5px 20px;
  margin-right: -5px;
}

#subscribe-email-index {
  border: 1px solid transparent;
  border-radius: 10px 0px 0px 10px;
  border-right: 0;
  background-color: #F2F2F2;
  color: #000000;
  opacity: 0.6;
}

#subscribe-email-index::placeholder,
#subscribe-email-catalog::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}


/*Footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 41px 70px 30px 70px;
}

.footer-contacts-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  min-width: 120px;
  min-height: 18px;
  padding-top: 5px;
}

.footer-social-item {
  width: 35px;
  height: 25px;
}

.footer-copyright p {
  margin: 0;
}

.htmlacademy-link {
  padding: 20px 0px;
}


/*Catalog header*/

.catalog-header-container {
  padding: 33px 65px 30px;
  margin-bottom: 44px;

  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.catalog-header {
  margin-bottom: 46px;
  padding-left: 7px;
}

.catalog-header h1 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: inherit;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-item {
  line-height: 8px;
  min-width: 14px;
  margin-right: 26px;
}

.breadcrumbs-item:first-child {
  width: 12px;
  height: 12px;
  margin-bottom: 2px;

  outline: 1px solid red;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 8px;
  text-decoration: none;
  color: inherit;
}


/*Catalog-filters*/

.catalog-filter {
  color: #FFFFFF;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 1075px;
}

.catalog-filter-group {
  display: flex;  
  flex-direction: column;
  padding: 0;
  margin-bottom: 20px;
}

.catalog-filter-group:first-child {
  width: 160px;
  margin-right: 50px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 160px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 120px;
}

.catalog-filter-title {
  margin-bottom: 30px;
  padding-left: 3px;

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
}

.catalog-filter-label {
  margin-bottom: 13px;
  margin-left: 23px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: inherit;
}

.catalog-filter-price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  text-transform: lowercase;
  color: inherit;
  opacity: 0.3;
}

.catalog-filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 20px;
}


/*Catalog results*/

.catalog-results-layout-wrapper {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 53px;
}

.catalog-results h2 {
  flex-grow: 1;
  margin: 0;
  padding-right: 20px;

  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: inherit;
}

.select-control {
  width: 288px;
  height: 45px;
  margin-right: 80px;
  padding-left: 13px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: #333333;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-control option {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.catalog-results-layout {
  min-width: 160px;
  
  outline: 1px solid red;
}


/*Product cards*/

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 26px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  width: 300px;
  min-height: 398px;
  margin-right: 18px;
  margin-bottom: 6px;
  padding: 20px 20px;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card-image {
  width: 300px;
  height: 206px;
  margin-bottom: 18px;
}

.product-card-link {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: inherit;
}

.product-card-link h3 {
  order: 1;
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;  
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}




.product-card-type {  
  width: 133px;
  margin: 0;  
  margin-bottom: 16px;
  padding-right: 5px;

  word-wrap: break-word;
}

.product-card-price {
  margin: 0; 
  margin-bottom: 16px; 
  width: 140px;
}

.product-card-rating {
  order: 2;
  margin: 0;
  width: 160px;  

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
}

.product-card-stars {
  order: 2;
  margin: 0; 
  width: 133px;
  height: 37px;

  outline: 1px solid red;
}

.product-card-details {
  width: 133px;
  margin-bottom: 16px;
  
  background-color: #756257;
  border: 1px solid transparent;
  border-radius: 4px;
}



/*pagination*/

.catalog-pagination-container {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
  
}

.show-more-wrapper {
  order: -1;
  width: 1056px;
  height: 120px;
  margin-bottom: 28px;

  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.cards-quantity-wrapper {
  display: flex;  
  min-width: 380px;
  height: 48px;
  margin-left: auto;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.pagination-link {
  display: block;
  padding: 0 10px;

  font-size: 20px;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current a {
  color: #000000;
}

.cards-quantity-title {
  margin-right: 51px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 55px;
  color: #333333;
}

.cards-quantity-control {
  height: 100%;
  width: 160px;
  margin-top: 4px;
  padding-left: 14px;

  font-size: 18px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.cards-quantity-control option {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
