@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
 
}

body {
  
  margin: 0;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;

  opacity: 0.5;
  background-image: url("../images/catalog.jpg");  
  background-repeat: none;
  background-size: 95%;
  background-position: 35px 0px;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;  
  height: 100%;
  margin: 0 auto;  
  background-color: #FFFFFF;  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}


/*Buttons*/

.button {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}



.navigation-link-search {
  width: 42px;
  height: 50px;
}

.navigation-link-favorites {
  width: 42px;
  height: 50px;

}

.navigation-link-button {
  display: block; 
  margin-right: 0;    
  width: 160px;
  height: 37px; 
  
  font-style: normal;
font-weight: bold;
font-size: 16px;
  line-height: 38px;
  text-decoration: none;
  background-color: #756257;
  color: #FFFFFF;  
}

.subscribe-form-button {
  width: 200px;
  height: 60px;
  font-size: 17px;
  line-height: 26px;
  background-color: #83B3D3;
}

.catalog-filter-submit {
  width: 160px;
  height: 48px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  background-color: #83B3D3;
}

.catalog-filter-reset {
  width: 160px;
  height: 48px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: inherit;
  background-color: transparent;
}

.button-layout {
  width: 45px;
  height: 45px;
  margin-right: 5px;
  
  border-width: 3px;

}

.button-layout:last-child {
  margin-right: 0;
}

.product-details-button {
  display: block;
  width: 133px;
  height: 37px;
  margin: 0;
  font-size: 16px;
  line-height: 36px;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #756257;
}

.product-to-favorites-button {
  width: 140px;
  height: 37px;
  font-size: 14px;
  line-height: 20px;
  background-color: #83B3D3;
}

.product-in-favorites-button {
  width: 140px;
  height: 37px;
  margin: 0;
  font-size: 16px;
  line-height: 39px;
  background-color: #7DB54F;
}

.show-more-button {
  display: block;
  width: 620px;
  height: 60px;
  margin: 30px auto;
  font-size: 17px;
  line-height: 26px;
  background-color: #83B3D3;
}

.pagination-item {
  width: 55px;
  height: 55px;
  margin-right: 8px;
  background-color: #83B3D3;
}

.pagination-current {
  background-color: #F2F2F2;
}


/* Navigation */

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.logo-link {
  line-height: 0;
}

.navigation-link {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
}

.logo {
  margin-right: 48px;  
}

.navigation-list {
  display: flex;
  margin-right: 100px;  
  align-items: center;
  flex-wrap: wrap;

  line-height: 30px;
  
}

.navigation-user {
  display: flex;
  align-items: center;
  width: 264px;
  margin-left: auto;
}

.navigation-item {
  margin-right: 34px;  
}

.navigation-user li {
  min-width: 42px;
  height: 42px;
  margin-left: auto;
   
  }




/* Welcome box */

.index-background {
  width: 1200px;
  height: 434px;
  padding-top: 51px;
  margin-bottom: 63px;
  background-color: #83B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: rgb(192, 226, 215);
}

.index-background-welcome {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-image: url("../images/welcome.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.index-background-bottomline {
  width: 1200px;
  height: 57px;
  background-image: url("../images/index-header-bottomline.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


/*Header*/

.main-container {
  flex-grow: 1;
  margin-top: -4px;
}

.main-index h1 {
  display: block;
  width: 720px;
  margin: 0 auto 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}


/*Advantages*/

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.advantages-list {
  display: flex;
  flex-wrap: wrap;
  
}

.advantages-item {
  display: flex;
  width: 400px;
   
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(2) {
  flex-direction: row-reverse;
}

.advantages-wrapper {
  width: 247px;
  min-height: 200px;
  margin: 0 auto;
  padding-top: 98px;
  padding-bottom: 87px;
}

.advantages-item img {
  height: 100%;
}

.advantages h2 {
  order: -1;
  margin: 0 auto;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-title {
  display: block;
  width: 171px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item:nth-child(1) {
  order: -1;
  width: 1200px;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(2) {
  order: 1;
  width: 1200px;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(3) {
  order: 2;
  background-color: rgba(131, 179, 211, 0.12);
  color: inherit;
}

.advantages-item:nth-child(4) {
  order: 2;
  background-color: rgba(131, 179, 211, 0.2);
  color: inherit;
}

.advantages-item:nth-child(5) {
  order: 2;
  background-color: rgba(131, 179, 211, 0.12);
  color: inherit;
}

.advantages-number {
  display: block;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.advantages-description {
  display: block;
  margin: 0 auto;
  width: 250px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-item:nth-child(1) p {
  
  width: 220px;
  color: inherit;
}

.advantages-item:nth-child(2) p {
  
  width: 220px;
  color: inherit;
}


/*Tips*/

.tips-item {
  
  width: 400px;
  height: 384px;
  margin: 0;
  padding: 0;
}

.tips-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.tips-description {
  width: 250px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}


/*Hotel-search*/

.hotel-search {
  display: flex;
  flex-direction: column;
  padding-top: 91px;
  padding-bottom: 70px;
  width: 1200px;
  margin-bottom: 20px;
}

.hotel-search-header {
  display: block;
  margin: 0 auto;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.hotel-search-description {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hotel-search-link {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.hotel-search-button {
  display: block;
  width: 575px;
  margin: 0 auto;
  padding: 12px 0;
  text-align: center;
  background-color: #756257;
}


/*Subscribe*/

.subscribe {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 93px;
}

.subscribe-index {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/index-subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-catalog {
  color: #000000;
  padding-bottom: 140px;
}

.subscribe h2 {
  margin: 0;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-catalog h2 {
  margin-bottom: 46px;
}

.subscribe p {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-catalog p {
  color: #333333;
}

.subscribe-form {
  margin: 0 auto;
}

.subscribe-form input {
  width: 555px;
  height: 60px;
  padding: 0 22px;
  border-width: 0;
}

#subscribe-email-index {
  background-color: #F2F2F2;
}

#subscribe-email-index::placeholder,
#subscribe-email-catalog::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}


/*Footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-contacts-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}


/*Catalog header*/

.catalog-header-container {
  padding: 35px 65px 50px;
  margin-bottom: 44px;
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.catalog-header {

  margin-bottom: 50px;
  padding-left: 7px;

}

.catalog-header h1 {
  margin: 0;
  
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: inherit;
}

.breadcrumbs-list {
  display: flex;
}

.breadcrumbs-item {
  line-height: 8px;
  min-width: 14px; 
  margin-right: 26px;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 8px;
  text-decoration: none;
  color: inherit;
}


/*Catalog-filters*/

.catalog-filter {
  color: #FFFFFF;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.catalog-filter-group:first-child {
  margin-right: 58px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 160px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 119px;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
}

.catalog-filter-label {
  margin-bottom: 13px;
  margin-left: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: inherit;
}

.catalog-filter-price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  text-transform: lowercase;
  color: inherit;
  opacity: 0.3;
}

.catalog-filter-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}


/*Catalog results*/

.catalog-results {
  margin-bottom: -21px;
}

.catalog-results-layout-wrapper {
  display: flex;
  padding-left: 71px;
  padding-right: 72px;
  margin-bottom: 51px;
}

.catalog-results h2 {
  flex-grow: 1;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  color: inherit;
}

.select-control {
  width: 287px;
  height: 46px;
  margin-right: 85px;
  padding-left: 12px;
  border-width: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #333333;
}

.select-control option {
  
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}


/*Product cards*/

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  width: 300px;
  height: 398px;
  margin-right: 18px;
  padding: 25px 20px;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card-image {
  width: 300px;
  height: 206px;
  margin-bottom: 14px;
}

.product-card-link {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: inherit;
}

.product-card-link h3 {
  order: 1;
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-type {
  margin: 0;
  margin-bottom: 16px;
  width: 133px;
}

.product-card-price {
  margin: 0;
  margin-bottom: 16px;
  width: 140px;
}

.product-card-rating span {
  display: inline-block;
}

.product-card-rating {
  order: 1;
  margin: 0;
  width: 160px;
  height: 37px;
  margin-top: 53px;
  align-self: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
}

.product-card-stars {
  margin: 0;
  width: 133px;
  height: 37px;
}

.product-details-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -90px;
}


/*pagination*/

.catalog-pagination-container {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  margin: 0 auto;
 
  
}

.show-more-wrapper {
  order: -1;
  width: 1056px;
  height: 120px;
  margin-bottom: 28px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.cards-quantity-wrapper {
  width: 386px;
  height: 48px;
}

.pagination {
  display: flex;
  flex-grow: 1;  
}

.pagination-link {
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current a {
  color: #000000;
}

.cards-quantity-title {
  margin-right: 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 55px;
  color: #333333;
}

.cards-quantity-control {
  height: 100%;
  width: 160px;
  padding-left: 15px;
  
  font-size: 18px;
}

.cards-quantity-control option {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
